@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*body{
    font-family: 'PT Sans Narrow', sans-serif;   
}*/

/* .navbar-brand{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
} */

/* .navbar-nav{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
} */

/* .container{
    margin-top: 15rem;
    margin-bottom: 15rem;
} */


.btn-one{
    width: 16rem;
    height: 5rem;
    margin-left: 3rem;
    margin-top: 5rem;
    padding: 1rem 1rem 1rem 2.5rem;
    font-size: 14px;
    letter-spacing: 0.1rem;
    border-radius: 30px;
    color: black;
    background-color: white;
    font-family: 'Roboto Mono', monospace; 
}


.btn-two{
    width: 16rem;
    height: 5rem;
    margin-left: 3rem;
    margin-top: 5rem;
    padding: 1rem 1rem 1rem 2.5rem;
    font-size: 14px;
    letter-spacing: 0.1rem;
    border-radius: 30px;
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace; 
}

.btn-one:hover{
    background-color: rgba(255,255,255,0.85);
}

.btn-two:hover{
    color: white;
    background-color: rgba(0,0,0,0.85);
}

.general{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* padding: 0 35px; */
    /* background: linear-gradient(to left top, #031A9A, #8B53FF); */
}

/* .wrapper {
    max-width: 1100px;
} */

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
}

.carousel :where(.img-scrolling, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .img-scrolling{
    /* height: 342px; */
    list-style: none;
    /* background-color: #fff; */
    border-radius: 3px;
    /* display: flex; */
    cursor: pointer;
    /* padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

/* .img-scrolling .img{
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
} */


.img-scrolling .img img{
    /* width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%; 
    border: 4px solid #fff; */
    width: auto;
    height: auto;
}

/* @media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
} */

/* 
footer{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
} */